html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  // overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-f-app;
  font-weight: 400;
  color: $color-light;
  background: $background-primary;
  font-size: 1.4rem;
  line-height: 1.5;
  height: 100vh;
  // overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.app-page {
  overflow: hidden;
}

// .main-container {
//   max-width: 90rem;
//   width: 90%;
//   margin: 0 auto;
// }
.email-verification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: $background-primary;

  h2 {
    font-size: 2rem;
    color: #4caf50;
  }

  p {
    font-size: 1rem;
    color: $color-lg;
  }

  p.error {
    color: #f44336;
  }
}
