// Popup menu styles
.popupMenu {
    position: absolute; // Position it where you want relative to the button
    background-color: #191919; // Background color
    border: 1px solid $color-highlight; // Highlight border
    z-index: 100; // Ensure it appears above other elements
    box-shadow: 0 2px 8px rgba(224, 221, 221, 0.2);
    border-radius: 1rem;
    padding: 0.5rem;
    
    // left: 0;
    // top: 0;
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 0.5rem 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: $background-primary-h; // Highlight on hover
        }
      }
    }
  }    